<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDizxBF7m-OJ31K91TXGKG5ZKgVHpaic6U&callback=initMap">
</script>
<h1>College Search</h1>
  <%= hidden_field_tag 'api_key', 'Qc04x6P8fyBCnTrtrVk8CUBpIBHmKHlOP5B4QKYV'  %>
  College <%= text_field_tag 'school.name', @search_term, placeholder: "Search college", class: 'input' %>
  <%= hidden_field_tag 'fields', 'id,school.name,2013.student.size,location'  %>
  <button id='submit' onclick="submitFrom();"> Submit </button>
<div id='full-map' class='map'></div>
