.input {
    width: 30em;
    height: 2em;
}

#submit {
    width: 150px;
    height: 35px;
    background: dodgerblue;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
    color: whitesmoke;
    font-size: 18px;
}

.map {
    margin-top: 1em;
    /* The height is 800 pixels */
    height: 800px;
    /* The width is the width of the web page */
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}